h2, form {
    text-align: center;
}

.title-detalle {
    margin-top: 2%;
    margin-bottom: 5%;
}

.form-container{
    display: contents;
}

.alumnos-align{
    text-align: left;
}

.form-content{
    max-width: 50%;
}