<div class="container-fluid width-table">
  <div class="row">
    <div class="col-4 align-self-center">
      <button mat-raised-button (click)="abrirAltas()" color="primary">
        <mat-icon fontIcon="person_add"></mat-icon> Añadir alumno
      </button>
    </div>
    <div class="col-4"></div>
    <mat-form-field class="col-4 mTop">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="aplicarFiltros($event)"
        placeholder="Nombre alumno"
        #input
      />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let alumnos">{{ alumnos.id }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef class="left-align">Nombre</th>
      <td mat-cell *matCellDef="let alumnos" class="left-align">
        {{ alumnos.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class="left-align">Apellido</th>
      <td mat-cell *matCellDef="let alumnos" class="left-align">
        {{ alumnos.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Ultima modificación</th>
      <td mat-cell *matCellDef="let alumnos">
        {{ alumnos.update | date : "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="materias">
      <th mat-header-cell *matHeaderCellDef>Materias</th>
      <td mat-cell *matCellDef="let alumnos" class="left-align">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Materias inscritas ({{ alumnos.materias.length }})</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let materias of alumnos.materias">
                      {{ materias.materia }}
                    </mat-list-item>
                  </mat-list>
            </mat-expansion-panel>
        </mat-accordion>

      </td>
    </ng-container>

    <ng-container matColumnDef="online">
      <th mat-header-cell *matHeaderCellDef>Locación</th>
      <td
        mat-cell
        *matCellDef="let alumnos"
        [appOnline]="alumnos.online"
        class="text-light-emphasis"
      >
        <b>{{ alumnos | locacion }}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let alumnos">
        <div class="row">
          <ng-container *ngIf="(authUser$ | async)?.role === 'admin'">
            <button
              class="col"
              mat-icon-button
              color="accent"
              matTooltip="Editar alumno: {{ alumnos | nombreCompleto }}"
              (click)="abrirEdicion(alumnos)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="col"
              mat-icon-button
              color="warn"
              matTooltip="Eliminar alumno: {{ alumnos | nombreCompleto }}"
              (click)="eliminarUsuario(alumnos)"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </ng-container>
          <button
            class="col"
            mat-icon-button
            color="primary"
            matTooltip="Detalles alumno: {{ alumnos | nombreCompleto }}"
            (click)="details(alumnos.id)"
          >
            <mat-icon>settings_account_box</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
