h2, form {
    text-align: center;
}

.title-detalle {
    margin-top: 5%;
}

.form-container{
    max-width: 60%;
}

.materias-align{
    text-align: center;
}

.materia-row-align {
    align-self: center;
}