.sidenav-container {
  height: 100vh;
}

.mat-drawer-container{
  background-color: #fff;
}

.sidenav-content {
  align-items: center;
  justify-content: center;
}

.toolbar-height {
  height: 100px;
}

.sidenav-size {
  padding: 50px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.margin-login {
  margin-right: 10px;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}